body{
   background: linear-gradient(to right, #2ed573, #f9ca24);
   overflow-x: hidden; 
}

.container{
    background: #fff;
    width: 540px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px
    rgba(119, 119, 119, .5)
}

.leftbox{
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
}

.rightbox{
    display: none;
}